* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}
.buttons-box button {
  padding: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  font-weight: 600;
  border: 2px solid black;
  background-color: rgb(183, 210, 215);
}
button:hover {
  scale: 1.05;
}
.buttons-box {
  display: flex;
  gap: 30px;
  justify-content: center;
}
#datetime-picker, .start-timer-btn {
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  border: 2px solid #0c5a7b;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.start-timer-btn {
  margin-top: 15px;
  border: 2px solid #0c5a7b;
  background-color:rgb(183, 210, 215);
}
.timer {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
}
.value {
  font-size: 50px;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form input {
  padding: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  border: 2px solid black;
}
.form label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
}
.form button {
  padding: 15px;
  font-size: 15px;
  font-weight: 600;
  background-color: rgb(169, 169, 215);
  border: 2px solid black;
}